/**
 * Helper Classes
 */
.font-heading {
  font-family: var(--awb-typography1-font-family);
  font-size: var(--awb-typography1-font-size);
  font-weight: var(--awb-typography1-font-weight);
  letter-spacing: var(--awb-typography1-letter-spacing);
  line-height: var(--awb-typography1-line-height);
}

.font-subheading {
  font-family: var(--awb-typography1-font-family);
  font-size: var(--awb-typography2-font-size);
  font-weight: var(--awb-typography1-font-weight);
  letter-spacing: var(--awb-typography1-letter-spacing);
  line-height: var(--awb-typography1-line-height);
}

.font-lead {
  font-family: var(--awb-typography1-font-family);
  font-size: var(--awb-typography3-font-size);
  font-weight: var(--awb-typography1-font-weight);
  letter-spacing: var(--awb-typography1-letter-spacing);
  line-height: var(--awb-typography1-line-height);
}

.font-base {
  font-family: var(--awb-typography4-font-family);
  font-size: var(--awb-typography4-font-size);
  font-weight: var(--awb-typography4-font-weight);
  letter-spacing: var(--awb-typography4-letter-spacing);
  line-height: var(--awb-typography4-line-height);
}

.font-medium {
  font-family: var(--awb-typography1-font-family);
  font-size: var(--awb-custom_typography_1-font-size);
  font-weight: var(--awb-custom_typography_1-font-weight);
  letter-spacing: var(--awb-custom_typography_1-letter-spacing);
  line-height: var(--awb-custom_typography_1-line-height);
}

.font-small {
  font-family: var(--awb-typography4-font-family);
  font-size: var(--awb-typography5-font-size);
  font-weight: var(--awb-typography5-font-weight);
  letter-spacing: var(--awb-typography5-letter-spacing);
  line-height: var(--awb-typography5-line-height);
}
